<table class="table table-striped">
<thead>
	<tr>
		<th width="10%">Matchday</th>
		<th width="20%">Date</th>
		<th width="20%">Team 1</th>
		<th width="20%">Score</th>
		<th width="20%">Team 2</th>
		<th width="5%">Fav</th>
	</tr>
</thead>
<tbody>
{{#each match in controller}}
	<tr>
		<td>{{match.matchday.title}}</td>
		<td>{{match.play_at}}</td>
		<td>
			{{match.team1_key.title}}
		</td>
		<td>
			{{#if match.score1}}
				{{match.score1}} - {{match.score2}}
			{{/if}}
		</td>
		<td>
			{{match.team2_key.title}}
		</td>
		<td class="fav">
			{{wc-fav action="addToFav" isFav=isFav item=team}}
		</td>
	</tr>
{{/each}}		
</tbody>
</table>
